# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Fortran module files
*.mod
*.smod

# Executables
LLM.exe
*.out
*.app

# 保护密钥
main.cpp

# 视频文案
Draft.txt
